<div class="chiffres page">
	<h1>{{titre_principal}}</h1>
	<h2>{{sous_titre_infrastructure_recolnat}}</h2>
	<table class="bicolumn">
		<thead></thead>
		<tbody>
			<tr>
				<td>{{champ_nombre_inscrits}}</td>
				<td id="users"><i class="fa fa-cog fa-spin fa-fw"></i></td>
			</tr>
			<tr>
				<td>{{champ_institutions_partenaires}}</td>
				<td id="institutions"><i class="fa fa-cog fa-spin fa-fw"></i></td>
			</tr>
			<tr>
				<td>{{champ_visites}}</td>
				<td id="visites"><i class="fa fa-cog fa-spin fa-fw"></i></td>
			</tr>	
			</tbody>
		</table>
	
	<h2>{{sous_titre_donnees_science_participative}} (<a href="http://lesherbonautes.mnhn.fr/">Les Herbonautes</a>)</h2>
	<table class="bicolumn">
		<thead></thead>
		<tbody>
		<tr>
			<td>{{champ_herbonautes_missions}}</td>
			<td id="herbo-missions"><i class="fa fa-cog fa-spin fa-fw"></i></td>
		</tr>
		<tr>
			<td>{{champ_herbonautes_participations}}</td>
			<td id="herbo-participations"><i class="fa fa-cog fa-spin fa-fw"></i></td>
		</tr>
		<tr>
			<td>{{champ_herbonautes_specimens_science_participative}}</td>
			<td id="specimens-sc-part"><i class="fa fa-cog fa-spin fa-fw"></i></td>
		</tr>
		<tr>
			<td>{{champ_herbonautes_specimens_valides}}</td>
			<td id="specimens-valides"><i class="fa fa-cog fa-spin fa-fw"></i></td>
		</tr>
		<tr>
			<td>{{champ_herbonautes_nombres_participants}}</td>
			<td id="contributeurs"><i class="fa fa-cog fa-spin fa-fw"></i></td>
		</tr>
	</tbody>
	</table>

	<h2>{{sous_titre_donnees_numerisation_informatisation}} (<a href="https://explore.recolnat.org/statistiques">explore.recolnat.org</a>)</h2>
	<div class="explore-stats">
	<iframe src="https://explore.recolnat.org/statistiques"></iframe>
	</div>
</div>
<script>
$.ajax({
	type: 'GET',
	headers: {},
	url: 'https://api.recolnat.org/erecolnat/v1/users/count',
	success: function (data) {
		document.getElementById('users').innerHTML = parseInt(data).toLocaleString('de-DE').replace(/\./g, ' ');;
	}
});
$.ajax({
	type: 'GET',
	headers: {},
	url: base_url + '/ga.json',
	success: function (data) {
		document.getElementById('visites').innerHTML = parseInt(data.www_pageviews) + parseInt(data.explore_pageviews);
	}
});
$.ajax({
	type: 'GET',
	headers: {},
	url: base_url + '/herbo-stats.json',
	success: function (data) {
		var missions = makeInt(data.missions);
		var specimens = makeInt(data.spécimens);
		var contributions = makeInt(data.contributions);
		var contributeurs = makeInt(data.contributeurs);
		var completeSpecimens = makeInt(data.completeSpecimens);
		if (missions) document.getElementById('herbo-missions').innerHTML = missions;
		if (specimens) document.getElementById('specimens-sc-part').innerHTML = specimens;
		if (contributions) document.getElementById('herbo-participations').innerHTML = contributions;
		if (contributeurs) document.getElementById('contributeurs').innerHTML = contributeurs;
		if (completeSpecimens !== null) document.getElementById('specimens-valides').innerHTML = completeSpecimens;
	}
});
$.ajax({
	type: 'GET',
	url: 'https://api.recolnat.org/erecolnat/v1/institutions/count',
	success: function (data) {
		document.getElementById('institutions').innerHTML = data;
	}
});
</script>
