<div class="chiffres page">
    <h1>Les chiffres du programme Recolnat</h1>

    <h2>Chiffres devant remplacer ceux du cartouche noir sur la home page</h2>

    <table>
        <thead></thead>
        <tbody>
        <tr>
            <td>Spécimens images</td>
            <td></td>
        </tr>
        <tr>
            <td>Données de spécimens</td>
            <td></td>
        </tr>
        <tr>
            <td>Inscrit.e.s</td>
            <td></td>
        </tr>
        <tr>
            <td>Visites</td>
            <td></td>
        </tr>
        <tr>
            <td>Projets</td> <!-- sets du collaboratoire + missions herbonautes -->
            <td></td>
        </tr>
        <tr>
            <td>Institutions partenaires</td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <h2>Chiffres détaillés sur cette page</h2>

    <table>
        <thead></thead>
        <tbody>
        <tr>
            <td>Sets du Colaboratoire</td>
            <td></td>
        </tr>
        <tr>
            <td>Missions Les Herbonautes</td>
            <td></td>
        </tr>
        <tr>
            <td>Participations Les Herbonautes</td>
            <td></td>
        </tr>
        <tr>
            <td>Spécimens traités par la science participative</td>
            <td></td>
        </tr>
        <tr>
            <td>Spécimens en zoologie</td>
            <td></td>
        </tr>
        <tr>
            <td>Spécimens en botanique</td>
            <td></td>
        </tr>
        <tr>
            <td>Spécimens en paléontologie</td>
            <td></td>
        </tr>
        <tr>
            <td>Spécimens en paléoanthropologie</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

<script>

</script>