<section id="section-1" class="objectifs">
    <h2>{{ titre_de_la_zone_programme }}</h2>
    <div class="stats">
        <div class="stat">
            <p class="spotlight" id="nb-specimens">...</p>
            <p class="spotlight-subtitle">{{ label_specimens }}</p>
        </div>
        <div class="stat">
            <p class="spotlight" id="nb-users">...</p>
            <p class="spotlight-subtitle">{{ label_users }}</p>
        </div>
        <div class="stat">
            <p class="spotlight" id="nb-missions">...</p>
            <p class="spotlight-subtitle">{{ label_missions }}</p>
        </div>
    </div>
    <p class="summary">{{ resume_de_la_zone_programme }}</p>
    <ul class="link-list">
        <li><a class="link" href="{{ lien_vers_la_page_programme }}">{{ label_du_lien_vers_la_page_programme }}</a></li>
        <li><a class="link" href="{{ lien_vers_la_page_chiffres }}">{{ label_du_lien_vers_la_page_chiffres }}</a></li>
    </ul>
</section>
<section id="section-2" class="explorer-les-collections rslides_container contains-v-centered-elements">
    <ul class="rslides">
        {{ collection:belles-images scope="bp" }}
        {{ assets:picture }}
        <li style="background-image: url('{{ url }}');">
            <a class="explore-content" href="{{ explore_lien }}">{{ bp:title }}</a>
        </li>
        {{ /assets:picture }}
        {{ /collection:belles-images }}
    </ul>
</section>
<section id="section-3" class="actualites">
    <h2>{{ titre_de_la_zone_actualites }}</h2>
    <ul class="news-list">
    {{ collection:news scope="news" limit="2" }}
        <a href="/actualites#{{ title }}">
            <li class="news-post">
                <span class="post-date">{{ date format="d-m-Y" }}</span>
                <br>
                <span class="post-title">{{ title }}</span>
                <!-- <div class="post-summary"><a href="/actualites#{{ title }}">{{ content | safe_truncate:100:... }}</a></div> -->
            </li>
        </a>
    {{ /collection:news }}
    </ul>
    <ul class="link-list">
        <li><a class="link" href="{{ lien_vers_toutes_les_actualites }}">{{ label_du_lien_vers_toutes_les_actualites }}</a></li>
    </ul>
</section>
<section id="section-4" class="contribuer contains-v-centered-elements">
    <div class="botanic-insert">
        <h2>{{ titre_de_la_zone_botanique }}</h2>
        <ul class="link-list">
            <li><a href="{{ lien_vers_loutils_qualite }}">{{ label_du_lien_vers_loutils_qualite }}</a></li>
            <li><a href="{{ lien_vers_les_herbonautes }}">{{ label_du_lien_vers_les_herbonautes }}</a></li>
        </ul>
    </div>
</section>
<section id="section-5" class="labo contains-v-centered-elements">
    <div class="botanic-insert">
        <h2>{{ titre_de_la_zone_laboratoire }}</h2>
        <ul class="link-list">
            <li><a href="{{ lien_vers_le_collaboratoire }}">{{ label_du_lien_vers_le_collaboratoire }}</a></li>
        </ul>
    </div>
</section>
<section id="section-6" class="membres-et-partenaires">
    <h2>{{ titre_de_la_zone_membres_partenaires_projets }}</h2>
    <div class="pw">
        <ul class="link-list">
            <li><a href="{{ lien_vers_nos_membres }}">{{ label_du_lien_vers_nos_membres }}</a></li>
            <li><a href="{{ lien_vers_nos_partenaires }}">{{ label_du_lien_vers_nos_partenaires }}</a></li>
            <li><a href="{{ lien_vers_nos_projets }}">{{ label_du_lien_vers_nos_projets }}</a></li>
            <li><a href="{{ lien_faire_un_don }}">{{ label_du_lien_faire_un_don }}</a></li>
        </ul>
        <div class="logos">
            {{ collection:membres scope="m" }}
                {{ assets:logo }}
                    <a href="{{ lien_vers_nos_membres }}#{{ title }}">
                        <img src="{{ url }}" alt="{{ m:title }}"/>
                    </a>
                {{ /assets:logo }}
            {{ /collection:membres }}
        </div>
    </div>
</section>
<section id="section-7" class="carte contains-v-centered-elements">
    <div class="botanic-insert">
        <h2>{{ titre_de_la_zone_des_collections}}</h2>
        <ul class="link-list">
            <li><a href="{{ lien_vers_les_collections_botaniques }}">{{ label_du_lien_vers_les_collections_botaniques }}</a></li>
            <li><a href="{{ lien_vers_les_collections_zoologiques }}">{{ label_du_lien_vers_les_collections_zoologiques }}</a></li>
            <li><a href="{{ lien_vers_les_collections_paletontologiques }}">{{ label_du_lien_vers_les_collections_paletontologiques }}</a></li>
        </ul>
    </div>
</section>
<section id="section-8" class="colhelper">
    <!-- <a href="{{ colhelper_lien }}"><h2>Demander un spécimen</h2></a> -->
</section>
<section id="section-9" class="publications_presse">
    <a href="{{ footer_lien_vers_la_liste_des_publications_scientifiques }}"><h3>{{ footer_titre_de_la_liste_des_publications_scientifiques }}</h3></a>
    <!-- <ul>
    {{ collection:publications limit="2" }}    
        <li><a target="_blank" href="{{ url }}">{{ title }}</a></li>
    {{ /collection:publications }}
    </ul> -->
    <a href="{{ footer_lien_vers_la_liste_des_articles_de_presse }}"><h3>{{ footer_titre_de_la_liste_des_articles_de_presse }}</h3></a>
</section>

<div id="flags"><p onclick="change_loc('fr')" class="flag fr">fr</p><p onclick="change_loc('en')" class="flag en">en</p></div>

<script>
$.ajax({
    type: 'GET',
    headers: {},
    url: 'https://api.recolnat.org/erecolnat/v1/specimens/count',
    success: function (data) {
        document.getElementById('nb-specimens').innerHTML = data.toLocaleString('fr-FR');
    }
});

$.ajax({
    type: 'GET',
    headers: {},
    url: 'missionsCount.txt',
    success: function (data) {
        document.getElementById('nb-missions').innerHTML = data;
    }
});

$.ajax({
    type: 'GET',
    headers: {},
    url: 'https://api.recolnat.org/erecolnat/v1/users/count',
    success: function (data) {
        document.getElementById('nb-users').innerHTML = data;
    }
});

var change_loc = function(l) {
    var base_url = window.location.toString().replace('/en/', '').replace('/fr/', '');
    window.location = base_url + '/' + l + '/';
};

</script>