////////////////////////////////////////////////////////////////////////////////
//
// THE "4 ROWS+FOOTER/9 SECTIONS" LAYOUT DESIGNED BY RAPHAËLLE & LÉA
//
////////////////////////////////////////////////////////////////////////////////

// @media rule
$first-break: 1000px;
$second-break: 550px;
$third-break: 400px;

// rows + footer
$h-rlscale: 0.5;
$h-row1: $h-rlscale * 700px;
$h-row2: $h-rlscale * 1200px;
$h-row3: $h-rlscale * 700px;
$h-row4: $h-rlscale * 700px;
$h-footer: $h-rlscale * 664px;

div#content > section {
  float: left;
  position: relative;
}

$w-section-9: 20%;
#section-1 {
  height: $h-row1;
  width: 40%;
}

#section-2 {
  height: $h-row1;
  width: 40%;
}

#section-3 {
  height: $h-row1;
  width: 20%;
}

#section-4 {
  height: $h-row2;
  width: 60%;
}

#section-5 {
  height: $h-row2;
  width: 40%;
}

#section-6 {
  height: $h-row3;
  width: 100%;
}

#section-7 {
  height: $h-row4;
  width: 40%;
}

#section-8 {
  height: $h-row4;
  width: 40%;
}

#section-9 {
  height: $h-row4;
  width: $w-section-9;
}

footer {
  clear: both;
  height: $h-footer;
  width: 100%;

  @media screen and (max-width: $first-break) {
    min-height: 500px;
  }
}

#section-1, #section-2, #section-3, #section-4, #section-5, #section-6, #section-7, #section-8, #section-9 {
  @media screen and (max-width: $first-break) {
    width: 100%;
  }
}

////////////////////////////////////////////////////////////////////////////////
//
// MENU
//
////////////////////////////////////////////////////////////////////////////////

.recolnat-menu {
  border: medium none;
  display: block;
  height: 60px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 50;

  @media screen and (max-width: $first-break) {
    height: 291px;
    position: relative;
  }
}

#content {
  padding-top: 60px;
}

////////////////////////////////////////////////////////////////////////////////
//
// VARIABLES
//
////////////////////////////////////////////////////////////////////////////////

// MARGINS + PADDING
$m-little: $h-rlscale * 20px;
$m-medium: $h-rlscale * 40px;
$m-large: $h-rlscale * 60px;

// ALPHA
$a-botanic-insert: 0.9;
$a-explore-insert: 0.75;

// COLOURS
$c-project-bg: #120E15;
$c-main-dark: #191919;
$c-main-light: #FFFCF7;
$c-main-light-rgb: rgb(255, 252, 247);
$c-main-light-rgba: rgba(255, 252, 247, $a-botanic-insert);
$c-catchy-link: #DD6754;
$c-catchy-news: #A8EFC5;
$c-catchy-green: #478488;
$c-catchy-green-rgb: rgb(71, 132, 136);
$c-catchy-green-rgba: rgba(71, 132, 136, $a-explore-insert);
$c-bg-dark-alpha: rgba(25, 25, 25, 0.75);

// FONTS
$f-spotlight-size: 24px;
$f-heading-size: 19px;
$f-heading-line: $f-heading-size * 1.5;
$f-subheading-size: 16px;
$f-subheading-line: $f-subheading-size * 1.5;
$f-content-size: 14px;
$f-link-size: 14px;

// for responsiveness
$f-substract: 3px;

////////////////////////////////////////////////////////////////////////////////
//
// "ABSTRACT CLASSES"
//
////////////////////////////////////////////////////////////////////////////////

.link, .link-hover, .link-inverse, .link-inverse-hover {
  display: inline-block;
  font-family: 'Merriweather', serif;
  font-size: $f-link-size;
  padding: 0 0.5em;
  text-decoration: none;
  transition: background-color 0.5s ease, color 0.5s ease;
  vertical-align: text-top;
  white-space: pre-wrap;
}

.link {
  color: $c-catchy-link;
}

.link-hover {
  background-color: $c-catchy-link;
  color: white;
}

.link-inverse {
  color: white;
}

.link-inverse-hover {
  background-color: white;
  color: $c-catchy-link;
}

.url {
  color: $c-catchy-link;
  text-decoration: none;
}

.url-hover {
  text-decoration: underline;
}

////////////////////////////////////////////////////////////////////////////////
//
// BASE ELEMENTS
//
////////////////////////////////////////////////////////////////////////////////

* {
  cursor: default;
}

html {
  background-color: $c-main-light
}

table {
  border-collapse: collapse;

  th, td {
    border: 1px solid black;
    line-height: 1.5;
  }

  th {
    background-color: black;
    color: white;
  }

  td {
    text-align: center;
  }

  * {
    font-family: 'Merriweather', serif;
    vertical-align: middle;
  }
}

.botanic-insert {
  @extend .v-centered-elements;

  background-color: $c-main-light-rgb;
  background-color: $c-main-light-rgba;
  margin-left: 10px;
  height: 43%;
  width: 55%;

  @media screen and (max-width: $third-break) {
    width: 75%;
  }
}

ul.link-list {
  list-style-image: url('../img/bullet-orange.png');
  margin: 0;
  padding: 0;

  a {
    @extend .link;

    &:hover {
      @extend .link-hover;
    }
  }

  li {
    list-style-position: outside;
    margin: 0 5px 5px 5px;
    padding: 0;
  }
}

.spotlight {
  font-size: $f-spotlight-size;
  line-height: 1em;

  @media screen and (max-width: $third-break) {
    font-size: $f-spotlight-size - $f-substract;
  }
}

.spotlight-subtitle {
  font-size: $f-link-size;
  text-transform: lowercase;
}

h1 {
  font-family: 'ikaros_sansregular';
  padding: 1em 0;
  text-transform: uppercase;
}

h2, h3, h4, p, ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

h2, h3, h4, .explore-content {
  font-family: 'ikaros_sansregular';
  letter-spacing: 1pt;
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  font-size: $f-heading-size;
  line-height: $f-heading-line;
  padding-top: $m-medium;
  padding-bottom: $m-medium;

  @media screen and (max-width: $third-break) {
    font-size: $f-heading-size - $f-substract;
  }
}

h3, h4 {
  font-size: $f-subheading-size;
  line-height: $f-subheading-line;
  padding-top: $m-medium;
  padding-bottom: $m-medium;

  @media screen and (max-width: $third-break) {
    font-size: $f-subheading-size - $f-substract;
    line-height: $f-subheading-line;
  }
}

p {
  font-family: "ikaros_sansregular";
  letter-spacing: 0.5pt;
  line-height: 1.5em;
}

.emphasis {
  font-style: italic;
}

.contains-v-centered-elements {
  display: flex;
  align-items: center;
}

.v-centered-elements {
  vertical-align: middle;
}

////////////////////////////////////////////////////////////////////////////////
//
// MAIN PAGE SECTIONS CONTENTS
//
////////////////////////////////////////////////////////////////////////////////

#flags {
  position: absolute;
  right: 0;

  .flag {
    background-color: black;
    color: white;
    display: inline-block;
    float: left;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 10px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-align: center;
    user-select: none;
    width: 24px;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}

#content {
  @media screen and (max-width: $first-break) {
    padding-top: 0;
  }
}

#content > section {
  h2 {
    padding: $m-large + $m-little $m-medium $m-medium $m-large;
  }

  .link-list {
    margin-left: $m-large + $m-medium;
    margin-right: $m-large;
    margin-top: $m-little;
  }
}

.row {
  @media screen and (max-width: $first-break) {
    display: block;
  }
}

#lastrow {
  @media screen and (max-width: $first-break) {
    width: 100%;
  }
}

section.objectifs {
  background-color: $c-project-bg;
  color: $c-main-light;
  text-overflow: auto;

  p.summary {
    padding-left: $m-large;
    padding-right: $m-large;
  }

  .stats {
    display: inline-flex;
    margin: 0 $m-large $m-medium $m-large;

    p {
      padding-right: $m-large;
    }
  }

  .summary {
    font-size: $f-link-size;

    @media screen and (max-width: $third-break) {
      font-size: $f-link-size - $f-substract;
    }
  }

  a {
    @extend .link;
  }

  a:hover {
    @extend .link-hover
  }
}

section.explorer-les-collections {
  ul.rslides > li > .explore-content {
    background-color: $c-catchy-green-rgba;
    bottom: 0;
    color: $c-main-light;
    font-size: $f-subheading-size;
    left: 0;
    line-height: 120%;
    margin: 0 auto;
    padding: $m-little;
    padding-bottom: $m-little + 10px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    width: 30%;

    @media screen and (max-width: $third-break) {
      font-size: $f-content-size - $f-substract;
      width: 50%;
    }
  }
}

section.actualites {
  background-color: $c-catchy-news;
  color: $c-main-dark;

  ul.news-list {
    list-style-type: none;
    margin: 0 $m-little 0 30px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;

    a {
      color: black;
      display: block;
      line-height: 1;
      padding: 0;
      text-decoration: none;
    }

    a:hover {

    }

    li.news-post {
      line-height: 1;
      padding: 5px;
      transition: background-color 0.5s ease;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      .post-date {
        font-family: "ikaros_sansregular";
        font-size: $f-link-size;
        font-weight: bold;
        padding-top: 0px;
      }

      .post-title {
        font-family: "ikaros_sansregular";
        font-size: $f-content-size;
        font-style: italic;
        padding-right: $m-large;
      }
    }
  }
}

section.contribuer {
  color: $c-main-dark;

  background-image: url("../../../../assets/travailler-sur-les-planches.jpg");
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  h2 {
    padding-bottom: 0 !important;
    padding-top: 60px !important;
  }
}

section.labo {
  color: $c-main-dark;

  background-image: url("../../../../assets/entrer-dans-laboratoire.jpg");
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  h2 {
    padding-bottom: 0 !important;
    padding-top: 60px !important;
  }
}

section.membres-et-partenaires {
  background-color: $c-main-light;
  color: $c-main-dark;
  position: relative;

  h2 {
    padding-top: 60px !important;
  }

  div.pw {
    display: flex;
    width: 100%;

    ul.link-list {

    }

    div.logos {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      img {
        max-height: 70px;
        max-width: 105px;
        padding: 10px;

        @media screen and (max-width: $first-break) {
          max-height: 50px;
          max-width: 75px;
          padding: 5px;
        }

        @media screen and (max-width: $second-break) {
          max-height: 30px;
          max-width: 45px;
          padding: 5px;
        }

        @media screen and (max-width: $third-break) {
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: $first-break) {
    div {
      padding-top: 0px;
      padding-bottom: $m-little;
    }
  }
}

section.carte {
  color: $c-main-dark;

  background-image: url("../../../../assets/carte-coel-modif.jpg");
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .botanic-insert {
    width: 60%;
    height: 80%;
  }
}

section.colhelper {
  @extend .contains-v-centered-elements;
  text-align: center;

  background-image: url("../../../../assets/demander-specimen.jpg");
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  a {
    @extend .contains-v-centered-elements;
    @extend .v-centered-elements;

    width: 40%;
    height: 30%;
    margin-left: 30%;
    text-align: center;

    color: $c-main-light;
    text-decoration: none;
    border: 1px solid $c-main-light;
    background-color: $c-bg-dark-alpha;

    h2 {
      @extend .v-centered-elements;
      text-align: center;

      padding: 0;
      margin: auto;
    }

    @media screen and (max-width: $third-break) {
      margin-left: 25%;
    }
  }
}

section.publications_presse {
  background-color: $c-catchy-link;

  h3 {
    margin: 0;
    padding: 0;
  }

  > a {
    background-color: $c-catchy-link;
    border: 1px solid white;
    color: white;
    display: block;
    margin: 4em 1em;
    padding: 2em 1em 1em 1em;
    text-align: right;
    text-decoration: none;
    transition: color 0.5s ease, background-color 0.5s ease;

    &:hover {
      background-color: white;
      border: 1px solid white;
      color: $c-catchy-link;
    }
  }
}

footer {
  > section {
    float: left;
    height: 100%;
    width: 20%;

    @media screen and (max-width: $first-break) {
      clear: both;
      height: auto;
      padding-top: 3em;
      width: 100%;
    }

    h2, h3, h4 {
      font-size: $f-content-size;
    }

    h3 {
      margin: 0;
      padding: 1em;
    }

    > a, > h3 {
      margin: 5px;
    }

    p, a {
      font-size: $f-link-size;

      @media screen and (max-width: $third-break) {
        font-size: $f-link-size - $f-substract;
      }
    }

    ul {
      list-style-image: url('../img/bullet-orange.png');

      a {
        @extend .link;

        &:hover {
          @extend .link-hover;
        }
      }
    }

    > a {
      border: 1px solid black;
      color: black;
      display: block;
      font-family: 'ikaros_sansregular';
      text-decoration: none;
      transition: background-color 0.5s ease, color 0.5s ease;

      &:visited {
        color: black;
      }

      > h3 {
        line-height: 1.1;
      }

      &:hover {
        background-color: black;
        color: white;

        * {
          color: white;
        }
      }
    }
  }

  a.mailtocontact {
    border: none !important;
    color: black;
    font-family: 'ikaros_sansregular', serif;
    margin: 5em 1em 1em 1em;
    padding: 0.5em 0 0 0;
    text-align: center;
    text-decoration: underline;
    transition: background-color 0.5s ease;
  }
}

////////////////////////////////////////////////////////////////////////////////
//
// OTHER PAGES
//
////////////////////////////////////////////////////////////////////////////////

.entete {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.page {
  margin-bottom: 200px;
  text-align: justify;

  > * {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  > a.logo {
    float: right;
    margin: 0;
    width: auto;

    > img {
      margin: 50px;
      max-width: 150px;
    }
  }

  main > p > a:not(.logo) {
    color: $c-catchy-link;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .post {
    border: 2px solid gray;
    box-sizing: border-box;
    margin-bottom: $m-large;
    padding: $m-medium;

    a {
      @extend .url;

      &:hover {
        @extend .url-hover;
      }
    }
  }

  p {
    margin-bottom: $m-medium;
  }

  ul {
    padding-bottom: $m-medium;
    font-size: $f-subheading-size;
    font-family: 'ikaros_sansregular';

    a {
      @extend .link;

      &:hover {
        @extend .link-hover;
      }
    }
  }

  .chapeau {
    background-color: rgba(0, 0, 0, 0.1);
    font-style: italic;
    margin-bottom: 5em;
    padding: 1em;

    > a {
      color: $c-catchy-link;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  ul.pagination {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    height: 50px;

    * {
      font-family: 'ikaros_sansregular', sans-serif;
      font-size: $f-content-size * 2 !important;
    }

    a {
      display: inline-block;
      font-family: 'ikaros_sansregular', serif;
      text-decoration: none;
      transition: background-color 0.5s ease, color 0.5s ease;
    }

    li {
      display: inline;

      &.active > span {
        text-decoration: underline !important;
      }

      &.disabled > span {
        color: $c-main-dark;
      }
    }

    span {
      display: inline-block;
      vertical-align: text-top;
    }

    a, span {
      padding: 1em;
      margin: 0;
    }
  }
}

.membres {
  section {
    .logo img {
      float: right;
      max-height: 150px;
      max-width: 150px;
      padding: 20px;
    }

    .chapeau {
      font-style: italic;
    }
  }
}

.partenaires {
  ul {
    list-style-image: url('../img/bullet-orange.png');
  }
}

.label {
  table {
    margin-bottom: 40px;
  }
  tr:hover {
    background: #DD6754;
  }
  td a {
    display: block;
    border: 1px solid black;
    padding: 16px;
  }
  ul {
    width: 50%;
  }
}

////////////////////////////////////////////////////////////////////////////////
//
// VENDOR
//
////////////////////////////////////////////////////////////////////////////////

/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-height: $h-row1;
  padding: 0;
  margin: 0;

  li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    max-height: $h-row1;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    float: left;
    border: 0;
  }
}

.centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 55%;
  left: 0;
  opacity: 0.33;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 51px;
  width: 38px;
  background: transparent url("../img/themes.gif") no-repeat left center;
  margin-top: -45px;
}

.centered-btns_nav:active {
  opacity: 1.0;
}

.centered-btns_nav.next {
  left: auto;
  right: 0;
  background-position: right center;
}

.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  display: block;
  background: #fff; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
}

.transparent-btns_nav.next {
  left: auto;
  right: 0;
}

.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  opacity: 0.4;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  left: 0;
  background: #000 url("../img/themes.gif") no-repeat left 50%;
  width: 38px;
  height: $h-row1;

  @media screen and (max-width: $first-break) {
    top: 0;
    left: 0;
  }
}

.large-btns_nav:active {
  opacity: 1.0;
}

.large-btns_nav.prev {
  @media screen and (max-width: $first-break) {
    left: 0px;
    top: 0px;
    right: auto;
  }
}

.large-btns_nav.next {
  left: auto;
  right: 0;
  background-position: right 50%;

  @media screen and (max-width: $first-break) {
    left: auto;
    top: 0px;
    right: 0px;
  }
}

.centered-btns_nav:focus, .transparent-btns_nav:focus, .large-btns_nav:focus {
  outline: none;
}

.centered-btns_tabs, .transparent-btns_tabs, .large-btns_tabs {
  z-index: 3;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
}

.centered-btns_tabs li, .transparent-btns_tabs li, .large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
}

.centered-btns_tabs a, .transparent-btns_tabs a, .large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0, 0, 0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .3);
  width: 9px;
  height: 9px;
}

.centered-btns_here a, .transparent-btns_here a, .large-btns_here a {
  background: #222;
  background: rgba(0, 0, 0, .8);
}
